*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 2;
    scroll-behavior: smooth;
    
}

#navbar{
    z-index: 50;
    background-color: rgb(55, 55, 55);
    position: fixed;
    transition: top 0.2s;
    top: 0;
    width: 100%;
}

#navbar a{
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#navbar a:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}

#navbar>div{
    display: flex;
    justify-content: center;
    gap: 20%;
}

h2{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    color: black;
    font-weight: bold;
}

.header-container{
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 10%;
}

.header-container>div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
}

#photo{
    align-items: flex-end;
}
